.lobby-image{
  width: 375px !important;
}
.statistics.statistic.value{
  font-size: 2rem !important;
}
.lobby .content .header.title{
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 20px !important;
}
.image.record-image{
  vertical-align: middle !important;
  margin-top: 5px !important;
  height: 30px !important;
  width: 30px !important;
}

.category{
	font-size: 15px !important;
}