#publisher {
    width: 750px;
    height: 422px;
    z-index: 100;
    border-radius: 3px;
    background-color: #e1e1e1;
    margin: auto;
    background-size: inherit;
    background-repeat: no-repeat;
}
.stream-actions{
    padding: 10px;
}
body{
    background-color: #e1e1e1;
}
#stream-container, #lobby-container{
    text-align: center;
}
#stream-container form{
    display: inline;
}