{% extends 'base.html' %}
{% load static %}

{% block title %}Edit Lobby{% endblock title %}

{% block content %}
    {% if user.is_authenticated and object.owner == user%}
      <br>
      <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <div class="form-group">
              <button type="submit">Update</button>
            </div>
        </form>
      </div>
    {% else %}
        <h1>YOU DON'T HAVE ACCESS TO THIS PAGE</h1>
    {% endif %}
</body>
{% endblock content %}