{% extends 'base.html' %}
{% load static %}

{% block title %}Edit Lobby{% endblock title %}

{% block content %}
<style type="text/css">
  body {
    background-color: #E1E1E1;
  }
  .formContainer{
    background-color: lightgrey;
    margin: auto;
    padding: 20px;
    opacity: .90;
  }
</style>
    {% if user.is_authenticated and object.owner == user%}
      <br>
      <div class="formContainer ui form grid">
        <form method="post" enctype="multipart/form-data">
          <div class="six wide column">
          <h1>Update Lobby</h1>
          {% csrf_token %}
          {% include 'stream/form-template.html' %}
            <div class="grid container">
            <div class="field">
              <button class="primary ui button" type="submit">Update</button>
            </div>
          </div>
          </div>
        </form>
      </div>
    {% else %}
        <h1>YOU DON'T HAVE ACCESS TO THIS PAGE</h1>
    {% endif %}
</body>
{% endblock content %}