{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock title %}

{% block additionalCss %}
  <link rel="stylesheet" type="text/css" href="{% static "stream/css/profile.css" %}">
{% endblock additionalCss%}

{% block content %}
<div class="ui grid">
  <div class="three wide column">
    <img class="ui small circular image" src="{{ object.avatar.url }}">
  </div>
  {% if user.is_authenticated and object.owner != user %}
  <div id="profile-owner-name" class="eleven wide column">
    <h1 class="ui header">{{ object.owner.username }}</h1>
  </div>
    {% if is_subscribed %}
  <div id="profile-sub-btn" class="two wide column">
    <button id="subscribe" name="{{ object.owner.id }}" class="ui active button">
      Unfollow
    </button>
    {% else %}
    <button id="subscribe" name="{{ object.owner.id }}" class="ui active button">
      Follow
    </button>
  </div>
    {% endif %}
  {% endif %}
</div>




<div class="ui grid">
  <div class="four wide column">
    <div class="ui vertical fluid tabular menu">
      <a class="item active">
        Bio
      </a>
      <a class="item">
        Pics
      </a>
      <a class="item">
        Companies
      </a>
      <a class="item">
        Links
      </a>
    </div>
  </div>
  <div class="twelve wide stretched column">
    <div class="ui segment">
      This is an stretched grid column. This segment will always match the tab height
    </div>
  </div>
</div>
<div class="ui items">
  {% for stream in streams %}
  <div class="item">
    <div class="image">
      <img src="{{ stream.image.url }}">
    </div>
    <div class="content">
      <a class="header">Header</a>
      <div class="meta">
        <span>Description</span>
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">
        Additional Details
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}

{% block additionalJS %}
<script src="{% static 'stream/js/subscription.js' %}"></script>
<script src="{% static 'stream/js/profile.js' %}"></script>
{% endblock additionalJS %}