{% extends 'base.html' %}
{% load static %}

{% block title %}Update Profile{% endblock title %}

{% block content %}
<style type="text/css">
  body {
    background-color: #E1E1E1;
  }
  .formContainer{
    background-color: lightgrey;
    margin: auto;
    padding: 20px;
    opacity: .90;
  }
</style>
<br>
<div class="formContainer ui form grid">
    {% if user.is_authenticated and object.owner == user %}
      <div class="six wide column">
        <form method="post" enctype="multipart/form-data">
            <h1>Update Profile</h1>
            {% csrf_token %}
            {% include 'stream/form-template.html' %}
            <hr>
            <div class="field">
              <button type="submit" class="ui blue button">Update</button>
              <a href="{% url 'stream:profile' object.id %}" class="ui button">Cancel</a>
            </div>
        </form>
      </div>
    {% else %}
        <h1>YOU DON'T HAVE ACCESS TO THIS PAGE</h1>
        <a href="{% url 'stream:profile' object.id %}" class="ui red button" class="ui button">Go Back</a>
    {% endif %}
</div>
{% endblock content %}