body{
	background-color: #E1E1E1 !important; 
}
#logo{
	height: 3rem;
	width: 3rem;
	padding: 0px;
	margin: 0px;
}

#profilepic{
	height: 3rem;
	width: 3rem;
}

.content{
	padding: 20px 0px 30px 30px;
}

.navbar{
	background-color: #000000;
}

.navbar span{
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.navbar div.item{
	padding: 0px; !important
}
.ui.secondary.menu{
	height: 60px;
}

#confmodaltext{
	text-align: center;
}

#actbuttons{
	padding-left: 75px;
}

.noimagebox{
	width: 175px !important;
	height: 109.38px !important;
	background-color: #A0A0A0;
	text-align: center;
	padding-top: 45px;
}

.content-container{
	padding: 15px !important;
	margin-bottom: 10px !important;
	background-color: white;
	border-radius: 5px;
}
