body{
	background-color: #EFF1FF;
}
#logo{
	height: 3rem;
	width: 3rem;
	padding: 0px;
	margin: 0px;
}

#profilepic{
	height: 3rem;
	width: 3rem;
}

.content{
	padding: 20px 0px 30px 30px;
}

.navbar{
	background-color: #173753;
}

.navbar span{
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.navbar div.item{
	padding: 0px; !important
}
.ui.secondary.menu{
	height: 60px;
}