<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock title %}</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static "semantic/dist/semantic.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "stream/base.css" %}">
  <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
  {% block additionalCss %}{% endblock additionalCss %}
</head>
<body>
  <div class="navbar">
    <div class="ui secondary menu">
      <a class="item" href="{% url 'home' %}">
        <img id="logo" class="ui avatar image" src="{% static 'images/default_logo.png' %}">
      </a>
      <div class="right menu">
        <div class="item">
          <div class="ui fluid category search">
            <div class="ui icon input" style="width:500px">
              <input class="prompt" placeholder="Search..." type="text" value="" width="500px">
              <i class="search icon"></i>
            </div>
            <div class="results"></div>
          </div>

          {% if user.is_authenticated %}
          <input id="online" type="hidden" value="{{ request.user.profile.id }}">
          <a class="item" href="{% url 'stream:profile' user.profile.id %}">
            <img id="profilepic" class="ui avatar image" src="{{user.profile.avatar.url}}">
          </a>
          <div class="ui pointing dropdown link item">
            <span id="name" class="text">{{ user.username }}</span>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item">
                <span><a class="ui item" href="{% url 'logout' %}">logout</a></span>
              </div>
            </div>
          </div>

          <br><br>


          {% else %}

          <div class="item">
            <a class="ui item" href="{% url 'login' %}"><span>login</span></a>
          </div>

          {% endif %}

        </div>
      </div>

    </div>

  </div><br><br>
  <div class="content">
    <div class="ui grid container">
      <div class="ui sixteen wide column segment">
        {% block content %}{% endblock content %}
      </div>
    </div>

    <div class="left pane"></div>
    <div class="middle pane"></div>
    <div class="right pane"></div>

    <div id="confirmationModal" class="ui basic modal">
      <div class="ui icon header">
        <i class="exclamation circle icon"></i>
        Confirmation
      </div>
      <div class="ui grid container">
        <div class="five wide column"></div>
        <div class="six wide column">
          <div id="confmodaltext">
            <p class="panel ">Are you sure you want to do this?</p>
          </div>
        </div>
        <div class="five wide column"></div>
      </div>

      <div class="ui grid container">
        <div class="five wide column"></div>
        <div id="actbuttons" class="actions six wide column">
          <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            No
          </div>
          <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            Yes
          </div>
        </div>
        <div class="five wide column"></div>
      </div>
    </div>

  </div>
</body>
</html>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
<script src="{% static 'stream/js/search.js' %}"></script>
<script src="{% static 'stream/js/base.js' %}"></script>
{% block additionalJS %}{% endblock additionalJS %}
