{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="ui items">
    <h1>Lobbies</h1>
    {% for lobby in lobbies %}
      <div class="item">
        <div class="image">
          <img width="20%" height="50%" src="{{ lobby.image.url }}">
        </div>
        <div class="content">
          <a class="header" href="{% url 'stream:lobby_detailview' lobby.id %}">{{ lobby.name }}</a>
          <div class="meta">
            <span>Description</span>
          </div>
          <div class="description">
            <p>{{ lobby.description }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
    <div class="ui items">
    <h1>Notifications</h1>
    {% for notif in notifications %}
      <div class="item">
        <div class="content">
          <a class="header" href="">{{ notif.details }}</a>
        </div>
      </div>
    {% endfor %}
    </div>
  {% else %}
    <br><br>
    <h1>You are not logged in...</h1>
  {% endif %}

{% endblock content %}

