{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

  {% if user.is_authenticated %}

    <ul>
    {% for lobby in lobbies %}
    <li>
        <div onclick="">
            <a href="{% url 'stream:lobby_detailview' lobby.id %}"><h1>{{ lobby.name }}</h1></a>
            <img width="20%" height="50%" src="{{ lobby.image.url }}">
            <p>{{ lobby.description }}</p>
        </div>
    </li>
    {% endfor %}
    </ul>

  {% else %}

    <h3>You are not logged in...</h3>
    <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
    <br><br>

  {% endif %}

{% endblock content %}
