{% extends 'base.html' %}
{% load static %}

{% block title %}Lobby{% endblock title %}

{% block content %}

<h1>{{ object.name }}</h1>
<ul>
    {% for stream in streams %}
    <li>
        <div>
            <h3>{{ stream.title }}</h3>
            <img width="10%" height="20%" src="{{ lobby.image.url }}">
        </div><br>
    </li>
    {% endfor %}
</ul>
<h2>Comments</h2>
<form>
    {% csrf_token %}
    <input type="text" id="txtComment">
    <button id="btnComment">send</button>
</form>
<li class="comment template" hidden="True">
    <div>
        <div>
            <img class="avatar" src="" width="2%" height="2%">
            <span class="username"></span>(<span class="when"></span>)
        </div>
        <span class="text"></span>
    </div>
    <span class="remove"> [remove] </span><span class="report"> [report] </span>
    <br><br>
</li>
<ul id="ulComment">
</ul>

{% endblock content %}
{% block additionalJS %}
<script src="{% static 'stream/js/lobby.js' %}"></script>
{% endblock additionalJS %}

<!--
    {% for comment in comments %}
    <li>
        <div>
            <img width="2%" height="2%" src="{{ comment.owner.profile.avatar.url }}">
            <label>
                {{ comment.owner.username }}
                <span>{{ comment.when }}</span>
            </label>
        </div>
        <p>{{ comment.text }}</p>
    </li>
    {% endfor %} -->